.Rproj.user/E458F1A9/build_options
*.pper
*.pper
.Rproj.user/E458F1A9/pcs/source-pane.pper
.Rproj.user/E458F1A9/pcs/files-pane.pper
*.pper
.Rproj.user/E458F1A9/pcs/windowlayoutstate.pper
.Rproj.user/E458F1A9/pcs/workbench-pane.pper
.Rproj.user/E458F1A9/persistent-state
.Rproj.user/E458F1A9/sdb/prop/10DEE9B6
.Rproj.user/E458F1A9/sdb/prop/11401061
.Rproj.user/E458F1A9/sdb/prop/14946CF9
.Rproj.user/E458F1A9/sdb/prop/1537EF2A
.Rproj.user/E458F1A9/sdb/prop/17EA334E
.Rproj.user/E458F1A9/sdb/prop/1E46324D
.Rproj.user/E458F1A9/sdb/prop/1E9668F1
.Rproj.user/E458F1A9/sdb/prop/1FDDD672
.Rproj.user/E458F1A9/sdb/prop/22368FF2
.Rproj.user/E458F1A9/sdb/prop/23AC7EF0
.Rproj.user/E458F1A9/sdb/prop/25CAAE7B
.Rhistory
.Rproj.user/E458F1A9/sdb/prop/2769B0B7
.Rproj.user/E458F1A9/sdb/prop/277AAC40
.Rproj.user/E458F1A9/sdb/prop/2908AA97
.Rproj.user/E458F1A9/sdb/prop/3A5BAEEC
.Rproj.user/E458F1A9/sdb/prop/3B70B907
.Rproj.user/E458F1A9/sdb/prop/3BDB25E6
.Rproj.user/E458F1A9/sdb/prop/415CA22
.Rproj.user/E458F1A9/sdb/prop/4D40144B
.Rproj.user/E458F1A9/sdb/prop/4FA179CA
.Rproj.user/E458F1A9/sdb/prop/4FB7447D
.Rproj.user

*.history

*.o

src/HLMdiag.so
