useDynLib(HLMdiag)

import(Matrix)
import(lme4)
## import(methods)
import(plyr)
import(reshape2)
importFrom(stats, cooks.distance, covratio)
importFrom(stats4, coef, confint, plot)
importFrom(MASS, rlm)

export(adjust_lmList)
export(compare_eb_ls)
export(HLMresid)
export(HLMresid.default)
export(LSresids)
export(LSresids.default)
export(case_delete)
export(case_delete.default)
export(covratio)
export(covratio.default)
export(covtrace)
export(covtrace.default)
export(diagnostics)
export(dotplot_diag)
export(group_qqnorm)
export(ggplot_qqnorm)
export(leverage)
export(leverage.default)
export(mdffits)
export(mdffits.default)
export(rvc)
export(rvc.default)
export(varcomp.mer)

exportClasses("adjust_lmList")
exportMethods("coef", "confint", "plot", "show")

S3method(HLMresid, mer)
S3method(HLMresid, lmerMod)
S3method(LSresids, mer)
S3method(LSresids, lmerMod)
S3method(case_delete, mer)
S3method(case_delete, lmerMod)
S3method(cooks.distance, case_delete)
S3method(cooks.distance, mer)
S3method(cooks.distance, lmerMod)
S3method(covratio, case_delete)
S3method(covratio, mer)
S3method(covratio, lmerMod)
S3method(covtrace, case_delete)
S3method(covtrace, mer)
S3method(covtrace, lmerMod)
S3method(leverage, mer)
S3method(leverage, lmerMod)
S3method(mdffits, case_delete)
S3method(mdffits, mer)
S3method(mdffits, lmerMod)
S3method(rvc, case_delete)
S3method(rvc, mer)
S3method(rvc, lmerMod)