S3method(HLMresid,default)
S3method(HLMresid,lmerMod)
S3method(HLMresid,mer)
S3method(LSresids,default)
S3method(LSresids,lmerMod)
S3method(LSresids,mer)
S3method(case_delete,default)
S3method(case_delete,lmerMod)
S3method(case_delete,mer)
S3method(cooks.distance,case_delete)
S3method(cooks.distance,lme)
S3method(cooks.distance,lmerMod)
S3method(cooks.distance,mer)
S3method(covratio,case_delete)
S3method(covratio,default)
S3method(covratio,lme)
S3method(covratio,lmerMod)
S3method(covratio,mer)
S3method(covtrace,case_delete)
S3method(covtrace,default)
S3method(covtrace,lme)
S3method(covtrace,lmerMod)
S3method(covtrace,mer)
S3method(leverage,default)
S3method(leverage,lme)
S3method(leverage,lmerMod)
S3method(leverage,mer)
S3method(mdffits,case_delete)
S3method(mdffits,default)
S3method(mdffits,lme)
S3method(mdffits,lmerMod)
S3method(mdffits,mer)
S3method(rotate_ranef,default)
S3method(rotate_ranef,lme)
S3method(rotate_ranef,lmerMod)
S3method(rotate_ranef,mer)
S3method(rvc,case_delete)
S3method(rvc,default)
S3method(rvc,lme)
S3method(rvc,lmerMod)
S3method(rvc,mer)
S3method(adjust_lmList,formula)
S3method(print,adjust_lmList)
S3method(coef,adjust_lmList)
S3method(confint,adjust_lmList)
S3method(plot,adjust_lmList.confint)
export(HLMresid)
export(LSresids)
export(case_delete)
export(compare_eb_ls)
export(covratio)
export(covtrace)
export(diagnostics)
export(dotplot_diag)
export(ggplot_qqnorm)
export(group_qqnorm)
export(leverage)
export(mdffits)
export(rotate_ranef)
export(rvc)
export(varcomp.mer)
export(adjust_lmList)
import(ggplot2)
import(RLRsim)
import(Matrix)
#import(lme4)
importFrom("grDevices", "devAskNewPage")
importFrom("methods", "as", "is")
importFrom("stats", "IQR", "aggregate", "complete.cases", "fitted",
           "formula", "lm", "lm.influence", "model.frame",
           "model.matrix", "ppoints", "qnorm", "qt", "quantile",
           "reorder", "resid", "rstandard", "varimax", "vcov",
           "cooks.distance", "covratio", "coef", "confint")
import(plyr)
importFrom(reshape2, "melt")
importFrom(reshape2, "dcast")
importFrom(MASS, "rlm")
importFrom(mgcv, "tensor.prod.model.matrix")
#importFrom(stats,"cooks.distance")
#importFrom(stats,covratio)
#importFrom(stats,"coef")
#importFrom(stats,"confint")
#importFrom(stats,plot)
useDynLib(HLMdiag)